* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #23424A;
}

.intro-text {
    color: white;
    padding: 5rem;
    max-width: 50%;
}

.intro-text > h1, p, button {
    font-family: Roboto;
    padding: 1rem;
}

.intro-text > h1 {
    font-size: 48px;
    font-weight: bold;
}

.intro-text > p {
    font-size: 21px;
}

.intro-text > button {
    font-size: 21px;
    font-weight: bold;
    border-radius: 100px;
    background-color: #38CFD9;
    padding: 1em 2em;
}
    
