/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-content to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;

  padding: 2em;
  
}

/* Solution */

.intro-content {
  max-width: 50%;
}

.container {
  /* height: 300px;  */

  /* We remove the height property from the .container
  because it change the default responsive behaviour
  of the html and css to be not responsive, it's 
  recommended not to use height property unless it's
  necessary */
}